.login-page{
    width: 350px;
    padding:10% 0 0;
    margin: auto;
   
}

form{
     position: relative;
     background:white;
     max-width: 350px;
     margin: auto;
     text-align: center; 
     align-self: center;
     padding: 45px;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
}

.form input{
    font-family: sans-serif;
    background: rgb(241, 241, 241);
    width: 100%;
    border: 0;
    margin: 0 0 15px 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

.form button{
    font-family: sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    background: lightgray(79, 138, 99);
    border: 0;
    width: 100%;
    padding: 13px;
    transition: all 0.3 ease;
    cursor: pointer;
    color: white;
   
}
button a{
    color: white;
}
 p{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
.form button:hover,.form button:active{
    background: rgb(79, 138, 99);
}

a{
    color: rgb(79, 138, 99);
}
.message{
    margin: 15px 0 0;
    color: darkgrey;
    font-size: 12;
}

body{
    background: rgb(79, 138, 99);
}

