
h1,h2{
    font-family: 'Oswald';
}

p,li{
    font-family: 'Oswald';
}
body{
color:darkblue;
margin: 10px 50px 10px 50px;
width: 950px;
background-color: ivory;
}

img{
    float:left;
    margin-right: 10px;
}
ul{
    list-style: none;
 }
li{
    display: inline;
}

#list a{
margin-left:70px;
margin-right: 70px;
}

#left{
    float:left;
    width:300px;
    padding:6px;
}
#middle{
   margin-left: 300px;
   margin-right: 300px;
    padding:6px;
}
#right{
    float: right;
    width:300px;
    padding:6px;
}
