 /* General */  
html{

    font-size: 15px;
    text-align: center;
}
body{
    width: 800px;
    margin: 0 auto;
  
}

img{
    width:  200px;
}

h1, h2 {
    text-align: center;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 /* Typography */  
.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
 /* block styling */  
 header, aside, main, footer {
    padding: 20px;
  }
  
  body > div {
    border: 5px solid black;
    display: flex;
  }
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url(../Lab2/image/phone.png) no-repeat 60% center;
  }
 /* Form styling */  

 /* Styling the products display */ 

 